.moduleTabCss{
    border-radius: 25px;
    background: lightpink;
    padding: 5px;
}
.lessonTabCss{
    border-radius: 25px;
    margin: 5px;
    background: lightgreen;
    padding: 10px;
}

.topicTabCss{
    border-radius: 25px;
    margin: 10px;
    background: lightcyan;
    padding: 10px;
}

.widgetTabCss {
    border-radius: 5px;
    margin: 5px;
    background: lightsalmon;
    padding: 5px;
}